<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- Root element: represents the entire test execution run -->
<suite name="All Test Suite">
   <listeners>
       <listener class-name="ExpentReports.Listener"></listener>
   </listeners>
    <test name="Website Testing">
        <classes>
            <class name="Tests.WebsiteTest"></class>
        </classes>
    </test>
</suite>